.portfolio-page-container {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(232, 244, 254, .3);
  color: #3a3f44;
}

.bg-fullstack {
  background: linear-gradient(
      rgba(232, 244, 254, .3),
      rgba(232, 244, 254, .3)
    ),
    url(../../images/abstract-nodes-25.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100vw;
  -moz-background-size: 100% 100vw;
  -o-background-size: 100% 100vw;
  background-size: 100% 100vw;
  position: relative;
}

.bg-wordpress {
  background: linear-gradient(
      rgba(232, 244, 254, .3),
      rgba(232, 244, 254, .3)
    ),
    url(../../images/abstract-nodes-31.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100vw;
  -moz-background-size: 100% 100vw;
  -o-background-size: 100% 100vw;
  background-size: 100% 100vw;
  position: relative;
  border-top: 1px solid #3a3f44;
}

.page-title {
  cursor: default;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
}

.page-title-wordpress {
  cursor: default;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 80px!important;
  padding: 20px;
}

.items-container {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  font-size: 20px;
  width: 60%;
  margin: auto;
  padding-bottom: 100px;
}

.header {
  line-height: 1em;
  color: #3a3f44 !important;
}

.ui.items > .item {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid #3a3f44;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.ui.items > .item > .content > .header {
  font-family: "Open Sans", sans-serif;
}

.ui.items > .item > .content > .description {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin: 30px 0px;
}

.ui.items > .item > .content a:not(.ui) {
  line-height: 1.5em;
  color: #3a3f44;
}

.ui.items > .item > .content a:not(.ui):hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
  .email {
    font-size: 16px;
  }
  .ui.items > .item > .content > .description {
    text-align: justify;
  }
  .items-container,
  .page-title {
    width: 85%;
  }
  .ui.items > .item > .content a:not(.ui) {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .ui.items > .item > .content > .header:not(.ui) {
    display: flex;
    justify-content: center;
    /* text-align: center; */
  }
  .bg-fullstack {
    background: linear-gradient(
      rgba(232, 244, 254, 0.4),
      rgba(232, 244, 254, 0.4)
    );
  }
  .bg-wordpress {
    background: linear-gradient(
      rgba(232, 244, 254, 0.4),
      rgba(232, 244, 254, 0.4)
    );
  }
}
