.portfolio-page-container {
  background-color: #47a899;
  color: #142b44;
}

.page-title {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: auto;
  padding: 20px;
}

.project-container {
  border-bottom: 2px solid black;
  padding: 60px;
  width: 85%;
}

.project-label,
.project-description {
  display: flex;
  justify-content: center;
}

.project-label {
  border: 2px solid black;
  border-radius: 50%;
  width: 200px;
  padding: 50px;
  font-size: 30px;
  font-weight: bold;
}

.project-description {
  width: 75%;
  margin: auto;
  font-size: 20px;
}

@media only screen and (max-width: 1100px) {

  .email {
    font-size: 16px;
  }

}