* {
  box-sizing: border-box;
}

.nav {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  height: 100px;
  line-height: 100px;
  border-bottom: 2px solid black;
}

.menu {
  margin: 0 20px 0 0;
}

.menu a {
  color: black;
  clear: right;
  text-decoration: none;
  margin: 0 20px;
  line-height: 70px;
  font-size: 22px;
  font-weight: 700;
}

.menu a:hover {
  text-shadow: 1px 1px 1px #dbe6ec;
  font-weight: 900px;
  text-decoration: underline;
}

.logo-container,
.logo-text-top a {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: 'Pacifico', sans-serif;
  float: left;
  letter-spacing: 2px;
  font-size: 40px;
  margin-left: 20px;
  font-weight: 500;
  text-decoration: none;
}

.hamburger {
  margin: 0 40px 0 0;
  font-size: 36px;
  line-height: 90px;
  display: none;
  width: 40px;
  float: right;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 850px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #061826;
    margin: 0;
  }

  .logo-text-top a {
    /* font-size: 26px; */
  }

  #toggle:checked + .menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: sticky;
  }
}
