* {
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-top: 2px solid black;
  font-size: 20px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer-text-top {
  font-family: 'Pacifico', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 2em;
}

.text-container {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.footer-navigation {
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  margin-top: 40px;
}

.footer-navigation-text {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
  padding: 20px;
}

.footer-navigation-text:hover {
  color: black;
  text-decoration: underline;
}

@media only screen and (max-width: 1050px) {

  .footer-container {
    display: none;
  }

}
