.page-container {
}

.resources-page-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid black;
  width: 700px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.category {
  margin-bottom: 40px;
}

.category-title {
  font-size: 28px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

.category ul, .category a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}

.category a:hover {
  text-decoration: underline;
  cursor: pointer;
}

