.section-container {
  font-family: "Montserrat", sans-serif;
  color: #3a3f44;
}

.vertical-align {
  display: flex;
  vertical-align: middle;
}

.about-me-page-container {
  background: linear-gradient(rgba(232, 244, 254, 0), rgba(232, 244, 254, 0));
}

.sec1 {
  height: 700px;
  width: 100%;
  padding: 25px;
  padding-top: 5%;
  background: linear-gradient(rgba(207, 232, 253, 1), rgba(232, 244, 254, 0.5)),
    url(../../images/abstract-nodes-36.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.sec2 {
  height: 450px;
  width: 100%;
  background: linear-gradient(rgba(207, 232, 253, 1), rgba(232, 244, 254, 0.5)),
    url(../../images/abstract-nodes-30.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: relative;
  border-top: 1px solid #3a3f44;
}

.sec3 {
  height: 450px;
  padding: 25px;
  background: linear-gradient(rgba(207, 232, 253, 1), rgba(232, 244, 254, 0.5)),
    url(../../images/abstract-nodes-29.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: relative;
  border-top: 1px solid #3a3f44;
}

.sec-left,
.sec-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec2-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-label {
  display: flex;
  justify-content: center;
  color: #3a3f44;
  border-bottom: 2px solid #3a3f44;
  font-size: 45px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 25px;
  line-height: 1em;
}

.icon-section {
  display: flex;
  font-size: 125px;
  margin-top: 75px;
  color: #3a3f44;
}

.icon-section i {
  border: 2px solid #3a3f44;
  border-radius: 75%;
  background-color: #ffffff;
  padding: 30px;
  margin-right: 20px;
}

.headshot {
  width: 337px;
  height: 293px;
  border-radius: 10px;
  margin: auto;
  margin-top: 85px;
  opacity: 0.9;
}

.img-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: white;
  position: relative;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.4);
  /* width: 33%; */
  /* max-width: 200px; */
  text-align: center;
  padding: 2px 12px 2px 12px;
}

.label-tile-sec2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: default;
  /* border: 2px solid black; */
  font-size: 90px;
  font-weight: 500;
  line-height: 1em;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  margin-top: 25%;
  /* background-color: #cfddea; */
}

.label-tile-sec3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: default;
  /* border: 2px solid black; */
  font-size: 90px;
  font-weight: 500;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  margin-top: 120px;
  /* background-color: #cfddea; */
}

.skills-list {
  width: 800px;
  max-height: 160px;
  margin: auto;
  font-size: 24px;
  line-height: 2em;
  padding-top: 10%;
  cursor: default;
}

li {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.bio-text {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  width: 85%;
  max-height: 160px;
  line-height: 1.3em;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  cursor: default;
}

@media only screen and (max-width: 1050px) {
  .sec1,
  .icon-section,
  .topbar-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    text-align: center;
    border: none;
  }

  .headshot {
    font-size: 40px;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  .icon-section {
    width: 100%;
    margin: auto;
  }

  .icon-section i {
    border-radius: 50%;
    padding: 10px;
    width: 75%;
    height: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .sec1 {
    background: linear-gradient(
      rgba(207, 232, 253, 0.9),
      rgba(232, 244, 254, 0.4)
    );
  }

  .sec-left label {
    font-size: 50px;
    margin-top: 40px;
  }

  .sec2,
  .sec3 {
    display: none;
  }

  .email {
    font-size: 16px;
  }
}
