.section-container {
  font-family: 'Montserrat', sans-serif;
}

.vertical-align {
  display: flex;
  vertical-align: middle;
}

.sec1 {
  height: 650px;
  width: 100%;
  padding: 25px;
  padding-top: 5%;
  /* border-bottom: 2px solid black; */
  background: 
  linear-gradient(
  rgba(207, 232, 253, 1), 
  rgba(232, 244, 254, 1)
  );
}

.sec2 {
  height: 450px;
  width: 100%;
  /* border-bottom: 2px solid black; */
  background: 
  linear-gradient(
  rgba(207, 232, 253, 1), 
  rgba(232, 244, 254, 1)
  );
}

.sec3 {
  height: 450px;
  padding: 25px;
  background: 
  linear-gradient(
  rgba(207, 232, 253, 1), 
  rgba(232, 244, 254, 1)
  );
}

.sec-left, .sec-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sec2-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-label {
  display: flex;
  justify-content: center;
  color: black;
  border-bottom: 2px solid black;
  font-size: 45px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 25px;
  line-height: 1em;
}

.icon-section {
  display: flex;
  justify-content: space-around;
  font-size: 125px;
  margin-top: 75px;
  color: black;
}

.headshot {
  width: 337px;
  height: 293px;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: auto;
  margin-top: 85px;
  opacity: .9;
}

.img-description {
  font-size: 16px;
  text-align: center;
  color: black;
}

.label-tile-sec2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid black; */
  font-size: 90px;
  font-weight: 500;
  line-height: 1em;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  margin-top: 25%;
  /* background-color: #cfddea; */
}

.label-tile-sec3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid black; */
  font-size: 90px;
  font-weight: 500;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  margin-top: 120px;
  /* background-color: #cfddea; */
}

.skills-list {
  width: 800px;
  max-height: 160px;
  margin: auto;
  font-size: 24px;
  line-height: 2em;
  padding-top: 10%;
}

li {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.bio-text {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  width: 85%;
  max-height: 160px;
  line-height: 1.3em;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1050px) {
  .sec1, .icon-section, .topbar-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    text-align: center;
    border: none;
  }

  .headshot {
    font-size: 40px;
    width: 250px;
    height: 250px;
    margin-top: 0;
  }

  .icon-section {
    width: 100%;
    margin: auto;
  }

  .sec-left label {
    font-size: 50px;
    margin-top: 40px;
  }

  .sec2, .sec3 {
    display: none;
  }

  .email {
    font-size: 16px;
  }
}